* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: calibri;
}

:root {
  --btn-bg-color: khaki;
  --dark-text-color: #444;
}


.header {
  display: flex;
  flex-flow: column;

}

  .name-of-website {
    color: var(--dark-text-color);
    text-align: center;
    padding: 10px;
  }

  .contacts {
    list-style-type: none;

    display: flex;
    justify-content: center;
  }

    .contacts li {
      margin: 5px;
      background: var(--btn-bg-color);
    }

      .contacts li a {
        display: inline-block;
        padding: 5px 20px 5px 20px;
        text-decoration: none;
      }


    
.main {
  margin-top: 10px;
}

  header.desc-picture {
    text-align: center;
  }

  ul.desc-contents {
    margin-top: 5px;
    text-align: center;
  }

    .desc {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .desc-about {
      font-size: 35px;
      font-weight: 550;
      color: var(--dark-text-color)
    }

    .desc-tools {
      font-size: 30px;
      font-style: italic;
    }

    .desc-langs {
      font-size: 30px;
      font-style: italic;
    }

      .desc-tools span, .desc-langs span {
        color: crimson;
        font-style: normal;
      }


  section.projects {
    margin-top: 20px;
  }

    .projects h2 {
      font-size: 30px;
      padding: 5px;
      text-align: center;
      text-decoration: underline;
      color: var(--dark-text-color);
    }

    .project-container {
      display: flex;
      flex-flow: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

      .project {
        width: 75%;
        margin: 5px 0px 5px 0px;

        display:flex;
        flex-flow: column;
      }

        .project .top {
          height: 260px;
          flex-grow: 3;
          background: #ddd;
          border: 5px solid grey;

          display: flex;
          justify-content: center;
          align-items: center;
        }

          .top .project-name {
            font-size: 35px;
          }

        .project .bottom {
          height: 40px;
          flex-grow: 1px;
        }

          .bottom ul {
            list-style-type: none;

            display: flex;
          }

            .github, .view-website {
              margin: 5px;
              background: var(--btn-bg-color);
              text-align: center;
            }

            .github a, .view-website a {
              text-decoration: none;

              display: inline-block;
              padding: 5px 10px 5px 10px;
              text-decoration: none;
            }